core-header-panel {
  background: #37474f;
}

paper-tabs, core-toolbar {
  background-color: #263238;
  color: #FFFFFF;
}

#nav-header {
  background-color: #263238;
}

paper-tabs {
  height: 32px;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title, paper-tab {
  font-family: 'Montserrat', sans-serif;
}

core-toolbar /deep/ .toolbar-tools {
  padding: 0;
}

paper-tab {
  max-width: 220px;
}

paper-toggle-button::shadow .toggle {
  background-color: #fff;
}

paper-toggle-button::shadow [checked] .toggle-ink {
  color: #42b1a6;
}

paper-fab {
  background-color: #607D8B;
}

.accented-button {
  color: #607D8B;
  /*border-radius: 50%;
  background-color: #37474f;*/
}

paper-dropdown::shadow #background {
  background-color: #37474f;
}

paper-item.core-selected {
  background-color: #263238;
}

paper-tabs::shadow #selectionBar {
  background-color: #607D8B;
}

paper-tabs paper-tab::shadow #ink {
  color: #607D8B;
}

.light-background {
  background-color: #92989b;
}

.busy {
  font-style: italic;
}

iframe {
  border: none;
}

.console {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  line-height: 20px;
  min-height: 50px;
  overflow-y: auto;
  padding: 8px;
  white-space: pre-wrap;
  background-color: #263238;
}

.console .normal {
  color: #fff;
}

.console .errorOutput {
  color: #F7977A;
}

.editor {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  line-height: 20px;
  display: block;
  position: relative;
  margin: 8px;
}
